<%= form_for @recipe do |f| %>
<div class="field">
<%= f.label :title %>
<%= f.text_field :title %>
</div>
<%= f.fields_for :ingredients do |ing| %>
<div class="field">
<%= ing.label :name %>
<%= ing.text_field :name %><br>
</div>

<div class="field">
<%= ing.label :quantity %>
<%= ing.text_field :quantity %><br>
</div>
<% end %>

<div class="field">
  <%= f.submit %>
</div>
<% end %>
